*.DS_Store

############## TERRAFORM ################
# Compiled files
*.tfstate
*.tfstate.backup
*.tfstate.lock.info

# Directories
.terraform/

# Ignore backend configuration files
infra/**.config

venv